.footerBody {
    width: 100%;
    background-color: rgba(64, 0, 255, 0.2);
    min-height: 50px;
    padding: 20px 0px;
    color: #e3d6bd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    background: linear-gradient(0deg, rgb(46 37 129), rgba(7, 8, 78), rgb(7, 8, 78), rgb(40 33 122));
    display: flex;
    padding: 10px 0;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container h4 {
    width: 100%;
    text-align: center;
    color: aliceblue;
}

.container div {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container div ul {
    width: auto;
    padding: 20px;

}

.container div ul li {
    font-size: small;
}

.container img {
    min-width: 40px;
    width: 40px;
    height: 40px;
    background-color: transparent;
}

.note {
    width: 80%;
    background-color: rgb(39 32 120);
    padding: 10px 0;
    text-align: center;
    color: #ffd900e3;
    padding-bottom: 55px;
}


.container a:hover {
    color: aqua;
    transition: color 2s ease;
}

.container a img:hover {
    transform: scale(1.1);
    transition: transform 300ms ease-in-out;
}

.container ul li:nth-child(1) {
    list-style-type: none;
}

@media screen and (max-width: 600px) {
    .footerBody {
        padding: 0;
    }

    .container {
        width: 100%;
    }

    .container:nth-child(4) div {
        display: grid;
    }

    .note {
        width: 100%;
    }
}

@media screen and (max-width: 255px) {
    .container div a p {
        display: none;
    }
}