* {
    padding: 0;
    margin: 0;
    border: 0;
}
.no-internet-body{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: black;
    z-index: 100;
    display: none;
}
.no-internet {
    max-height: 600px;
    max-width: 400px;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .no-internet div:nth-child(1) {
    min-height: 60px;
    width: 100%;
    background: black;
    color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .no-internet img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .no-internet div:nth-child(3) {
    min-height: 200px;
    width: 100%;
    background: black;
    color: cyan;
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
  
  .no-internet div:nth-child(3) p {
    display: inline-block;
    margin-top: 10px;
    opacity: 0;
    animation:letterAnimation 5s forwards infinite;
  }
  
  @keyframes letterAnimation {
    0% {
      opacity: 0;
      transform: translateX(-100px) scale(0.2);
    }
    50%{
      opacity: 1; 
      transform:scale(1.1);
  }
    100% {
      opacity: 0;
      transform: translateX(100px) scale(0.2);
    }
  }
  



@media screen and (max-width:470px){
    .no-internet {
        height: 100%;
        width: 100%;
    }
}
