@media screen and (max-width:987px) {
    nav ul{
        flex-direction: column;
        justify-content: center;
        height: 100px;
    }

    ul li{
        margin: 1px 0 ;
    }
    .search{
        justify-content: center;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }  
}
