:root{
    --main-bg-color: rgb(58, 0, 105);
}
*{
    padding: 0;
    margin: 0;
}
body
{  
    background: rgb(204, 255, 153);
    
}

header{
    background-color: var(--main-bg-color);  
    
}
.h{
    color: beige;
    display: flex;
    justify-content: center;
}

.store_logo{
    position: relative;
    float: left; 
    height: 120px;
    width: 200px;
    padding-top: 20px;
}


hr{
    background: blueviolet;
    padding-bottom: 5px;
}





nav ul{
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 40px;
}
nav ul li a{
    color: rgb(241, 206, 153);
    text-decoration: none;
}
nav ul li a:hover{
    color: rgb(255, 153, 0);
    
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 30vw;
    height: 20px;
    border-radius: 5px;
    margin: 0 15px 0 50px;
    padding: 0 10px;
}
.btn:hover{
    color: rgb(0, 174, 255);
}
.noresult{
    display: flex;
    justify-content: center;
    
}
.no-results{
    font-size: large;
    font-weight: bold;
    display: none;
    padding-top: 10px;
}
.no-results img{
    padding-top: 10px;
    width: 300px;
}
.card{
    
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100vw;
    margin: 0 5px;
}
.lines :hover{
    color: rgb(46, 165, 42);
}
.items a:hover{
    background-image: -moz-element(10px);
}

.lines{
    padding: 5px;
    border-style:double;
    background-color: rgb(255, 117, 117);
    text-align: center;
    color: black;
}
.container{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 1000px;
}
.aboutat{
    background-color: rgb(129, 127, 127);
    padding: 50px 5px 50px;
    text-align: center;

}
footer p{
    display: flex;
    align-items: center;
    height: 12vh;
    background-color: black;
    color: aqua;
}
.facebook_link img{

    width: 40px;
    height: 40px;
    border-radius: 15px;
}
a{
    text-decoration: none;
}
