.flex-all-centre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 5px 20px;
    background: var(--main-bg-color);
    color: aquamarine;
    border: 2px solod rgb(251, 255, 0);
    border-radius: 7px;
    cursor: pointer;
}
html{
    scroll-behavior:smooth;  
}
.container{
    animation: transitionin 0.90s;
}
@keyframes transitionin{
    from{
        opacity: 0;
        transform: rotateY(50deg);
    }
    to{
        opacity: 50;
        transform: rotateY(0)
    }
}
