.section {
    width: 100vw;
    background: transparent;
    position: absolute;
    top: 500px;
}

.sectionDiv {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
}

.WaveLoaderWrap {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    justify-items: center;
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: nowrap;
}

.WaveLoaderDiv {
    height: 100px;
    width: auto;
    aspect-ratio: 3/4;
    border-radius: 10px;
    background-color: grey;
    animation: pulse 1s linear(0.88 -24.26%, 0.66 41.18%, 0.85 104.41%) infinite;
    ;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 0.4;
        background-color: aquamarine;
    }

    0% {
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    .sectionDiv {
        width: 100%;
    }
}
@media screen and (max-width: 470px) {
    .section {
        top: 469px;
    }
}